<ion-content class="ion-content-center">
  <!-- Logo del colegio -->
  <ion-img
    src="assets/logo.png"
    style="width: 300px; height: 300px; margin: auto"
  ></ion-img>

  <!-- Formulario de inicio de sesión centrado -->
  <div class="login-container">
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input
        [(ngModel)]="username"
        type="text"
        placeholder="Nombre de usuario"
        style="border-bottom: 1px solid white"
      ></ion-input>
    </ion-item>

    <ion-item class="my-5">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        [(ngModel)]="password"
        type="password"
        placeholder="Contraseña"
        style="border-bottom: 1px solid white"
      ></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      shape="round"
      class="mx-5"
      color="light"
      (click)="login()"
    >
      Iniciar Sesión
    </ion-button>

    <!-- Enlace para recuperar contraseña -->
    <ion-item
      class="ion-text-center mt-3"
      lines="none"
      (click)="recuperarContrasena()"
    >
      <ion-label class="ion-text-center">¿Olvidaste tu contraseña?</ion-label>
    </ion-item>
    <!-- Enlace para ir a la página de registro -->
    <ion-item class="ion-text-center" lines="none" (click)="irARegistro()">
      <ion-label class="ion-text-center"
        >¿No tienes cuenta?, regístrate aquí</ion-label
      >
    </ion-item>
  </div>
</ion-content>
