<ion-content class="ion-content-center">
  <!-- Logo del colegio -->
  <ion-img
    src="assets/logo.png"
    style="width: 300px; height: 300px; margin: auto"
  ></ion-img>

  <!-- Formulario para recuperar contraseña centrado -->
  <div class="recover-container">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input
        [(ngModel)]="correo"
        type="email"
        placeholder="Correo Electrónico"
        style="border-bottom: 1px solid white"
      ></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      shape="round"
      class="mx-5 mt-5"
      color="light"
      (click)="recuperarContrasena()"
      id="present-alert"
    >
      Recuperar Contraseña
    </ion-button>

    <!-- Enlace para iniciar sesión -->
    <ion-item
      class="ion-text-center mt-3"
      lines="none"
      (click)="irAInicioSesion()"
    >
      <ion-label class="ion-text-center"
        >¿Ya tienes una cuenta? Inicia sesión aquí</ion-label
      >
    </ion-item>
  </div>
</ion-content>
