<ion-content
  class="ion-content-center"
  style="background-color: black; color: white"
>
  <!-- Logo del colegio -->
  <ion-img
    src="assets/logo.png"
    style="width: 300px; height: 300px; margin: auto"
  ></ion-img>

  <!-- Formulario de registro centrado -->
  <div class="register-container">
    <ion-item>
      <ion-label position="floating" style="color: white">Nombre</ion-label>
      <ion-input
        [(ngModel)]="nombre"
        type="text"
        placeholder="Nombre"
        style="
          color: white;
          background-color: black;
          border-bottom: 1px solid white;
        "
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="color: white"
        >Correo Electrónico</ion-label
      >
      <ion-input
        [(ngModel)]="correo"
        type="email"
        placeholder="Correo Electrónico"
        style="
          color: white;
          background-color: black;
          border-bottom: 1px solid white;
        "
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="color: white">Contraseña</ion-label>
      <ion-input
        [(ngModel)]="contrasena"
        type="password"
        placeholder="Contraseña"
        style="
          color: white;
          background-color: black;
          border-bottom: 1px solid white;
        "
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="color: white"
        >Confirmar Contraseña</ion-label
      >
      <ion-input
        [(ngModel)]="confirmarContrasena"
        type="password"
        placeholder="Confirmar Contraseña"
        style="
          color: white;
          background-color: black;
          border-bottom: 1px solid white;
        "
      ></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      shape="round"
      class="mx-5 mt-5"
      color="light"
      (click)="registrar()"
    >
      Registrar
    </ion-button>

    <!-- Enlace para iniciar sesión -->
    <ion-item
      class="ion-text-center mt-3"
      lines="none"
      (click)="irAInicioSesion()"
    >
      <ion-label class="ion-text-center" style="color: white"
        >¿Ya tienes una cuenta? Inicia sesión aquí</ion-label
      >
    </ion-item>
  </div>
</ion-content>
